.pricing{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    color: black;
    background: #E5E5E5;
    background-image: url('../Assets/noise.png');
    background-repeat: repeat;
}
.priceIntro{
    flex: 40%;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}
.pricetext{ 
    padding: 5%;
    position: fixed;
}
.pricetext button{
    border: none;
    text-decoration: none;
    background: var(--primary);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 150px;
    color: black;
    border-radius: 15px;
    border: 2px solid gray;
    transition: all 0.3s;
}
.pricetext button:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.pricecontainer{
    padding-top: 90px;
    padding-left: 6%;
    height: 100%;
    flex: 60%;
}
.priceIntro h1{
    font-size: 80px;
    margin-bottom: 0;
}
.priceIntro p{
    font-size: 20px;
}
.pricecontainer p{
    color: black;
}
.photoprice{
    width:80%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid gray;
    margin-bottom: 7%;
    background: white;
    //background: linear-gradient(rgba(256, 256, 256, 0.1), rgba(256, 256, 256, 0.1));
}
.photoprice h2{
    color: #FF4900;
}
.pricing span{
    font-size: 20px;
    color: gray;    
}
@media only screen and (max-width: 750px) and (orientation: portrait){
    .pricing{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;
        top:0;
        left:0;
        background-size: 100vh;
    }
    .priceIntro{
        height: 100%;
    }
    .pricetext{ 
        padding-top: 40%;
        position: inherit;
    }
    .photoprice{
        background: linear-gradient(rgba(256, 256, 256, 0.5), rgba(256, 256, 256, 0.5));
    }
    .priceIntro h1{
        font-size: 60px;
        margin-bottom: 0;
    }
    .priceIntro p{
        font-size: 18px;
    }
    .pricecontainer{
        width: 80%; 
    }
    .pricecontainer p{
        color: black;
    }
}
@media only screen and (max-height: 450px) and (orientation: landscape){
    .pricetext{
    }
    .priceIntro h1{
        font-size: 50px;
    }
    .priceIntro p{
        font-size: 13px;
    }

}